<app-navbar />
<div class="container my-5">
  <h2 class="mb-3">Donations</h2>
  <div class="container row">
    <div class="col-md-3 my-2" *ngFor="let donation of this.data.results">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title primaryColor py-2 text-capitalize">
            {{ donation?.project }}
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Amount : {{ donation?.amount }}</li>
            <li class="list-group-item">{{donation?.updated_at}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
