.img {
  width: 100%;
  z-index: 0;
  object-fit: cover;
  height: 100vh;
}
.parent{
  position: relative;
}

.project{
  background-color: beige;
  position: absolute;
  z-index: 1;
top: 55%;
right: 40%;
left: 40%;
}
.project:hover{
  background-color: #198754;
}
