<div class="highest container my-5">
  <app-highest-projects [projects]="projects.slider" />
</div>
<div class="latest container my-5">
  <h2 class="fw-bold primaryColor my-4 text-center">Latest Projects</h2>
  <app-featured-projects [projects]="projects.latest" />
</div>
<div class="featured container my-5">
  <h2 class="fw-bold primaryColor my-4 text-center">Featured Projects</h2>
  <app-featured-projects [projects]="projects.featured" />
</div>
<div class="categories container my-5">
  <h2 class="fw-bold primaryColor my-4 text-center">Categories</h2>
  <app-categories [categories]="projects.categories" />
</div>
