<!-- Nav -->
<div>
  <div>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid mx-5">
        <div>
          <a class="navbar-brand fw-bold text-success fs-4" href="#">
            <i class="bi bi-gift me-2"></i>Crowd Funding</a>
        </div>
        <form [formGroup]="myform" (submit)="submit($event)" class="d-flex w-75 me-5">
          <input class="form-control me-2" formControlName="value" type="search" [placeholder]="placeholder"
            aria-label="Search" required="true">
          <button class="btn btn-outline-success px-5" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>

  <div>

    <!-- search result -->

    <div *ngIf="projects?.search.length>0" class="container">
      <div class="m-5">
        <p class="text-success fs-5 fw-bold">{{projects.search.length}} search results</p>
        <div class="row">
          <div class="col-md-4 my-2" *ngFor="let project of projects?.search">
            <!-- product card -->
            <app-search-result [project]="project" />
          </div>
        </div>
      </div>
    </div>


    <!-- not found -->
    <div class="container text-center">
      <div *ngIf="projects?.search.length<1 && flag" class="d-flex flex-wrap justify-content-center">
        <p class="fs-5">Not Found</p>
      </div>
    </div>
  </div>